# Variables

In [49]:
space_name = 500095650.012

In [50]:
print(space_name)

500095650.012

In [51]:
type(space_name)

float

# Data Types

In [52]:
# This is declaring a variable as a string.
test_variable = 'pluto'
print(test_variable)

pluto

In [53]:
type(test_variable)

str

In [54]:
# This is declaring a variable as an Integer
int_variable = 123456789
print(int_variable)

123456789

In [55]:
type(int_variable)

int

In [56]:
int_variable + 10

123456799

In [57]:
# This is declaring a variable as a float
float_variable = 123.256
print(float_variable)

123.256

In [58]:
type(float_variable)

float

In [59]:
# This is declaring a variable as a boolean value
bool_variable = True
type(bool_variable)

bool

In [60]:
bool_variable = 'True'
type(bool_variable)

str

In [61]:
bool_variable = bool(0)
type(bool_variable)

bool

In [62]:
bool_variable

False

In [63]:
# This is creating a List Variable
list_variable = [1,2,3,4,44,22.1,52.2,1,2,3]
type(list_variable)

list

In [64]:
print(list_variable)

[1, 2, 3, 4, 44, 22.1, 52.2, 1, 2, 3]

In [65]:
list_variable[6] = 52.235

In [66]:
print(list_variable)

[1, 2, 3, 4, 44, 22.1, 52.235, 1, 2, 3]

In [67]:
# Create a tuple variable, Immutable = You can't change the values
tuple_var = (1,2,3,4,44,22.1,52.2)
print(tuple_var)

(1, 2, 3, 4, 44, 22.1, 52.2)

In [68]:
type(tuple_var)

tuple

In [69]:
tuple_var[5]

22.1

In [70]:
# This is creating a set variable, Immutable = you can't change the values
set_var = {1, 2, 3, 4, 44, 22.1, 52.235}
type(set_var)

set

In [71]:
print(set_var)

{1, 2, 3, 4, 52.235, 22.1, 44}

In [72]:
# Set are not ordered, No DUPLICATES
set_var[5]

TypeError: 'set' object is not subscriptable

In [74]:
# Typecasting list to set back to list to get rid of the duplicates
type(list(set(list_variable)))

list

# Dictionary

In [1]:
# Defining a dictionary variable
dict_var = {'name':"kshitij", 'fav_col':"Blue", 'fav_no':7}
type(dict_var)

dict

In [3]:
dict_var['name']

'kshitij'

In [4]:
dict_var['fav_col']

'Blue'

In [5]:
dict_var['fav_no']

7

In [2]:
print(dict_var)

{'name': 'kshitij', 'fav_col': 'Blue', 'fav_no': 7}

# Lists

In [17]:
# Create
names = ['roy','kshitij','tiya','tisha','ankush','alkush','elon musk']

In [18]:
# Read
names

['roy', 'kshitij', 'tiya', 'tisha', 'ankush', 'alkush', 'elon musk']

In [19]:
# Read using Indexing
names[0]

'roy'

In [20]:
names[-1]

'elon musk'

In [21]:
len(names)

7

In [22]:
# Update
names[-1] = "neil arm strong"
names

['roy', 'kshitij', 'tiya', 'tisha', 'ankush', 'alkush', 'neil arm strong']

In [24]:
names.append("elon musk")
names

['roy',
 'kshitij',
 'tiya',
 'tisha',
 'ankush',
 'alkush',
 'neil arm strong',
 'elon musk',
 'elon musk']

In [26]:
names.insert(0,"robert")

In [27]:
names

['robert',
 'roy',
 'kshitij',
 'tiya',
 'tisha',
 'ankush',
 'alkush',
 'neil arm strong',
 'elon musk',
 'elon musk']

In [ ]:
# Delete

In [28]:
names[-2]

'elon musk'

In [30]:
del names[-2]
names

['robert', 'roy', 'kshitij', 'tiya', 'tisha', 'ankush', 'alkush', 'elon musk']

# Dictionaries(continued)

In [35]:
# Create
astronaut = {
    "name": "Rakesh Sharma",
    "Suit_size": "Large",
    "Allergies": "Roti"
}

In [ ]:
# Read

In [36]:
astronaut

{'name': 'Rakesh Sharma', 'Suit_size': 'Large', 'Allergies': 'Roti'}

In [38]:
astronaut["Suit_size"]

'Large'

In [42]:
list(astronaut.keys())

['name', 'Suit_size', 'Allergies']

In [43]:
astronaut.keys()

dict_keys(['name', 'Suit_size', 'Allergies'])

In [44]:
astronaut.values()

dict_values(['Rakesh Sharma', 'Large', 'Roti'])

In [45]:
list(astronaut.values())

['Rakesh Sharma', 'Large', 'Roti']

In [ ]:
# Update

In [46]:
astronaut["allergies"] = "mango"

In [47]:
astronaut

{'name': 'Rakesh Sharma',
 'Suit_size': 'Large',
 'Allergies': 'Roti',
 'allergies': 'mango'}

In [48]:
astronaut["space_ship"] = "GSLV - 1"

In [49]:
astronaut

{'name': 'Rakesh Sharma',
 'Suit_size': 'Large',
 'Allergies': 'Roti',
 'allergies': 'mango',
 'space_ship': 'GSLV - 1'}

In [ ]:
# Delete

In [50]:
del astronaut["space_ship"]

In [51]:
astronaut

{'name': 'Rakesh Sharma',
 'Suit_size': 'Large',
 'Allergies': 'Roti',
 'allergies': 'mango'}

# Conditions and Logic

In [55]:
# Applying Logic using the IF statement
name = "neil arm strong"
if name == "neil arm strong":
    print("what's up neil")
else:
    print("sunita williams")

what's up neil

In [58]:
test_no = 10
if test_no >= 5:
    print("Number is greater or equal to 5")
else:
    print("Not")

Number is greater or equal to 5

In [61]:
probability = 0.4

# probability is greater then 0.5
if probability > 0.5:
    print(True)
    
# probability is equal to 0.5
elif probability == 0.5:
    print("Equal and True")
    
# probability is less then 0.5
else:
    print(False)

False

In [66]:
# Create list of different names
names = ["kshitij", "sunita", "tisha", "elon musk", "Bill gates"]
if "elon musk" in names:
    print("elon's here")
    print('elon\'s here')

elon's here
elon's here

# Loops

In [5]:
# For Loop
names = ["kshitij", "sunita", "tisha", "elon musk", "Bill gates"]
for name in names:
    print(name)
    
    # Condition statement block
    if name == "elon musk":
        print("Hi ELON")
        # Next value in the loop
        continue
        
    elif name == "tisha":
        print("Hi tisha")
        # Break statement stops the loop
        break
        
    elif name == "sunita":
        print("Hi sunita")
        
    # Catch all
    else:
        pass
    
    # Outside of if statement block
    print("Pleased to have you here!\n")

kshitij
Pleased to have you here!

sunita
Hi sunita
Pleased to have you here!

tisha
Hi tisha

In [7]:
# Loop x no. of times
for idx in range(1,10):
    print(idx)
    # Prints from x to y - 1

1
2
3
4
5
6
7
8
9

In [11]:
# Create launch variables
launched_shuttles = 0
total_shuttles = 5

while True:
    launched_shuttles = launched_shuttles + 1
    #print("Shuttles Launched ",launched_shuttles)
    print("Shuttle {} launched".format(launched_shuttles))
    # launched_shuttles += 1
    if launched_shuttles == total_shuttles:
        print("All shuttles launched")
        break

Shuttle 1 launched
Shuttle 2 launched
Shuttle 3 launched
Shuttle 4 launched
Shuttle 5 launched
All shuttles launched

In [13]:
# Create launch variables
launched_shuttles = 0
total_shuttles = 5

while True:
    launched_shuttles = launched_shuttles + 1
    print("Shuttle Launched ",launched_shuttles)
    #print("Shuttle {} launched".format(launched_shuttles))
    # launched_shuttles += 1
    if launched_shuttles == total_shuttles:
        print("All shuttles launched")
        break

Shuttle Launched  1
Shuttle Launched  2
Shuttle Launched  3
Shuttle Launched  4
Shuttle Launched  5
All shuttles launched

In [16]:
astro = {
    "Name": "Elon Musk",
    "Height": 180,
    "Weight": 70
}

In [17]:
# Loops through Keys
for key in astro.keys():
    print(key)

Name
Height
Weight

In [18]:
# Asscessing through values
astro.values()

dict_values(['Elon Musk', 180, 70])

In [19]:
for value in astro.values():
    print(value)

Elon Musk
180
70

In [20]:
astro.items()

dict_items([('Name', 'Elon Musk'), ('Height', 180), ('Weight', 70)])

In [26]:
# Loop through keys and values at the same time
for key,value in astro.items():
    print(key,value)

Name Elon Musk
Height 180
Weight 70

In [28]:
# list Comprehension
names = ["kshitij", "sunita", "tisha", "elon musk", "Bill gates"]
new_list = [name.title() for name in names]

In [29]:
new_list

['Kshitij', 'Sunita', 'Tisha', 'Elon Musk', 'Bill Gates']

# Functions

In [31]:
# Defining a function in python
def launchpad():
    print("HELLO")

In [32]:
launchpad()

HELLO

In [34]:
for idx in range(10):
    launchpad()
    print(1+2)
    print(3+4)

HELLO
3
7
HELLO
3
7
HELLO
3
7
HELLO
3
7
HELLO
3
7
HELLO
3
7
HELLO
3
7
HELLO
3
7
HELLO
3
7
HELLO
3
7

In [35]:
names = ["kshitij", "sunita", "tisha", "elon musk", "Bill gates"]

In [36]:
def custom_welcome(name):
    print("Welcome {}".format(name))

In [37]:
# Running function
custom_welcome("kshitij pratap tomer")

Welcome kshitij pratap tomer

In [38]:
for name in names:
    custom_welcome(name)

Welcome kshitij
Welcome sunita
Welcome tisha
Welcome elon musk
Welcome Bill gates

In [39]:
# String Formatting
print("Welcome {} {} {}".format("kshitij","pratap","tomer"))

Welcome kshitij pratap tomer